<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.1/zephyr/bootstrap.min.css"
              integrity="sha512-Aa1AJuGl3w1JnFBI0fhHSFp4lod5GfAfl0QmgGe+2ZqqGyIiTdMoFg4TlwtoZgx3VYkPZrpx3s5lM1yPmQ/lXQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="{% static "browser/style.css" %}"/>
        <title>RiboGraph</title>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        {% block mdbootstrap_header %}
        {% endblock mdbootstrap_header %}
    </head>
    <body background-color: coral;>
        <main class="vh-100 min-vh-100">
            <div class="d-flex flex-row h-100">
                <div class="p-0 flex-shrink-0">{% include "browser/sidebar.html" %}</div>
                <div class="flex-fill flex-grow p-4 overflow-auto">
                    <div class="container">
                        {% if messages %}
                            {% for message in messages %}
                                <div>
                                    {% if message.tags %}class="{alert alert-{ message.tags }}"{% endif %}
                                    >{{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% block body %}
                            Actual page is here!
                        {% endblock body %}
                    </div>
                </div>
            </div>
        </main>
        {% block mdbootstrap_footer %}
        {% endblock mdbootstrap_footer %}
    </body>
</html>
