{% extends "browser/base.html" %}
{% load bootstrap5 %}
{% block body %}
    <p class="fs-2 fw-semibold mb-0">
        <a class="text-body"
           href="{% url 'browser:project_details' project.id %}">{{ project.name }}</a>
    </p>
    {% if correlation_groups|length > 1 %}
        <div class="fs-5 mt-2 mb-1">Reference Group</div>
        <div class="btn-group ml-2" role="group" aria-label="First group">
            {% for hash in correlation_groups %}
                {% if hash == reference_hash %}
                    <button type="button" class="btn btn-primary">{{ forloop.counter }}</button>
                {% else %}
                    <a class="btn btn-secondary"
                       href="{% url 'browser:gene_correlation' project.id hash %}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% include "browser/vue_app.html" %}
{% endblock body %}
