{% extends "browser/base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}
{% block body %}
    <p class="fs-2">{{ project.name }}</p>
    {% if project.description %}<p>{{ project.description }}</p>{% endif %}
    <p>
        <a href="{% url 'browser:edit_project_description' project.id %}">Edit description</a>
    </p>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name in "project_details" %}active{% endif %}"
               href="{% url 'browser:project_details' project.id %}">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if experiments_exist is False %} disabled{% endif %} {% if request.resolver_match.url_name in "compare_experiments" %}active{% endif %}"
               href="{% url 'browser:compare_experiments' project.id %}">Compare Experiments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if experiments_exist is False %} disabled{% endif %} {% if request.resolver_match.url_name in "gene_correlation" %}active{% endif %}"
               href="{% url 'browser:gene_correlation' project.id %}">Gene Correlations</a>
        </li>
    </ul>
    {% block content %}
    {% endblock content %}
    <a href="{% url 'browser:delete_project' project.id %}"
       class="btn btn-outline-danger mt-4">Delete {{ project.name }}</a>
{% endblock body %}
