{% extends "browser/project_base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}
{% block content %}
    <div class="accordion mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header" id="upload-form-heading">
                <button class="accordion-button {% if experiments_exist %} collapsed{% endif %}"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#upload-form-collapse"
                        aria-expanded="{% if experiments_exist %}false{% else %}true{% endif %}"
                        aria-controls="upload-form-collapse">
                    Upload experiment data
                </button>
            </h2>
            <div id="upload-form-collapse"
                 class="accordion-collapse {% if experiments_exist %} collapse{% endif %}"
                 aria-labelledby="upload-form-heading">
                <div class="accordion-body">
                    <p>You can add new experiments by uploading their ribo files.</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form upload_form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">Upload</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% if experiments_exist %}
    {% render_table experiment_table %}
{% else %}
    <p>There are no experiments.</p>
{% endif %}
{% endblock content %}
