{% extends "browser/base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}
{% block body %}
    <p class="fs-2">{{ project.name }}</p>
    {% if project.description %}<p>{{ project.description }}</p>{% endif %}
    <a href="{% url 'browser:edit_project_description' project.id %}">Edit description</a>
    <br>
    <br>
    <p class="fs-5 mb-2">Upload experiment data</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form upload_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Upload</button>
    {% endbuttons %}
</form>
<p>You can add new experiments by uploading their ribo files.</p>
<br>
{% if experiments_exist %}
    {% render_table experiment_table %}
{% else %}
    <p>There are no experiments.</p>
{% endif %}
<a href="{% url 'browser:delete_project' project.id %}"
   class="btn btn-outline-danger mt-4">Delete {{ project.name }}</a>
{% endblock body %}
